#!/usr/bin/env bash

# ssh shorthand function
function bssh() {
	echo "ssh -p 1022 $1@linode1"
	ssh -p 1022 $1@linode1
}

# change to and list the project directory
function list_projects() {
	clear
	cd ~/Projects
	echo "PROJECT FOLDERS"
	ls -lL | awk '{print $9}'
}
